body {
	background-color: #778899;
	font-family: 'Oswald';
}
form {
	margin-left: 40%;
	margin-top: 3%; 
	padding: 10px 20px 20px 10px;
	background: white;
	border-radius: 5px;
	display: inline-block;
}
/*CSS for the inputs*/
input[ type="text" ] {
	width: 100%;
}
input[ type="email" ] {
	width: 100%;
}
input[ type="password" ] {
	width: 100%;
}
input[ type="date" ] {
	width: 100%;
}
input[ type="tel" ] { 
	width: 100%;
}
textarea{
	width: 100%;
}
input[ type="button"] {
	color: white;
	background-color: green;
}
input[ type="reset"]{
	color: white;
	background-color: red;
}
#error-message1 {
	color: red;
}
#error-message2 {
	color: red;
}
#success-message {
	color: green;
}
span{
	font-size: 12px;
}
