body {
	background-color: #778899;
	font-family: 'Oswald';
}
form {
    margin-left: 500px;
    margin-top: 50px; 
    padding: 5px 20px 20px 15px;
    background: white;
    border-radius: 5px;
    display: inline-block;
}
/*CSS for the inputs*/
input[ type="text" ] {
    width: 100%;
}
input[ type="email" ] {
    width: 100%;
}
input[ type="password" ] {
    width: 100%;
}
input[ type="date" ] {
    width: 100%;
}
input[ type="number" ] {
    width: 100%;
}
textarea{
    width: 100%;
}
input[ type="submit"] {
    color: white;
    background-color: green;
    padding: 2px 10px 2px 10px;
}
input[ type="reset"]{
    color:white;
    background-color: red;
    padding: 2px 10px 2px 10px;
}